# App
PORT=9090
APP_PREFIX=realtime-service
dbConfig=PRODUCTION

# Auth
WEB_USER_AUTH=admin
WEB_USER_PASS=
API_SECRET_PASS=

# Database
DB_HOST=
DB_PORT=3306
DB_USER=
DB_PASS=
DB_DRIVER=mysql
DB_APP_NAME=Stock Realtime

DB_POS_NAME=
DB_CRM_NAME=
DB_BOR_NAME=

# Tools
MYSQLDUMP_PATH=
